@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:700&display=swap');

html, body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  margin: 0;
  text-align: center;
}

.cell {
  background: #bada5599;
  border: 1px solid grey;
  padding: 10px;
  height: 120px;
  width: 120px;
  font-family: 'Anonymous Pro', monospace;
  font-size: 60px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.cell:not(:disabled):hover, .cell:not(:disabled):focus {
  background: #bada55;
  outline: none;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reset {
  margin: 40px 0 0;
  background: white;
  border: 2px solid grey;
  padding: 5px 30px;
  text-transform: uppercase;
  font-family: 'Anonymous Pro', monospace;
  font-size: 20px;
  color: grey;
  text-shadow: 0 0 1px;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.reset:hover, .reset:focus {
  background: #bada55;
  outline: none;
  cursor: pointer;
}

.result {
  font-family: 'Anonymous Pro', monospace;
  font-size: 30px;
  text-transform: uppercase;
  color: #555;
  visibility: hidden;
}